h1 {
    font-size: xxx-large;
}

.bg-dark {
    background: #2e3237 !important;
}

.bg-darkest {
    background: #1a1d1e !important;
}

.bg-dark2 {
    background: #444b4f;
}

.btn-orange {
    background: #ff5200;
}

.btn-primary {
    background: #0d41fd;
}

.btn-outline-primary {
    border-color: #0d41fd;
}

.btn-outline-primary:hover {
    background: #0d41fd;
}

.navbar-dark {
    background: #111115 !important;
}

.img {
    width: 7em;
    height: 10em;
}

.text-justify {
    text-align: justify;
}

tr:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.auto-scroll {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
}

/* START Scrollbar CSS */
html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #414c50;
}

.auto-scroll::-webkit-scrollbar {
    width: 11px;
}

.auto-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.auto-scroll::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.auto-scroll::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* END Scrollbar CSS */