{% extends "base.html" %}

{% block main_content %}
    <h1 class="text-center">MOP Movies</h1>

    <div class="row justify-content-around">
        <div class="col">
            <div class="card bg-info text-dark text-center mb-1 p-1 d-inline-block" style="width: 7em;">
                <b id="sources_count">Loading Source Count</b>
            </div>

            <div class="card bg-warning text-dark text-center d-inline-block mb-1 p-1" style="width: 7em;">
                <b id="movie_count">Loading Movie Count</b>
            </div>
        </div>

        <div class="col-auto text-end">
            <form class="d-flex pt-1" style="max-width: 20em;">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <table class="table text-white mt-2" id="movie_list">
        <tbody id="body"></tbody>
    </table>
{% endblock main_content %}

{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let table = document.querySelector("#movie_list");

            fetch("{{ url_for("movies.movies") }}", {
                method: "POST"
            })
                .then(response => response.json())
                .then(function (data) {
                    console.log(data);

                    document.querySelector("#sources_count").innerText = data["source_count"] + " Sources"
                    document.querySelector("#movie_count").innerText = data["movie_count"] + " Movies"

                    if (data["movie_count"] === 0)
                        table.querySelector("#body").insertAdjacentHTML("beforeend", `<tr><td colspan=4 class="text-center fst-italic">No results available</td></tr>`);

                    data["movies"].forEach(function (movie) {
                        table.querySelector("#body").insertAdjacentHTML("beforeend", `
                        <tr>
                            <td>
                                <img src="{{ url_for("static", filename="test.jpg") }}" alt="Movie image goes here!" class="img">
                            </td>
                            <td>
                                <b>${movie["tmdb"]["title"]}</b>
                                {#<small class="text-muted">${movie["marked"]["title"]}</small>#}
                                <br>
                                <small style="text-align: justify;">${movie["tmdb"]["overview"]}</small>
                            </td>
                            <td><b>${movie["marked"]["year"]}</b></td>
                            <td>
                                <b>${movie["tmdb"]["vote_average"]}</b>
                                <small class="text-muted">${movie["tmdb"]["vote_count"]}</small>
                            </td>
                        </tr>
                        `)
                    })
                });
        });
    </script>
{% endblock extra_js %}