{% extends "base.html" %}

{% block main_content %}
    <table class="table" id="sources_list">
        <thead>
        <tr>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr id="row{{ loop.index }}">
                <td>
                    <label>
                        <input class="address" value="{{ source.address }}">
                    </label>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" onclick="delete_row({{ loop.index }})">Delete</button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="text-end">
                <button class="btn btn-primary" id="add_source" onclick="add_row()">Add</button>
                <button class="btn btn-success" id="save" onclick="save_sources()">Save</button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock main_content %}

{% block extra_js %}
    <script>
        let tbody = document.querySelector("#sources_list").querySelector("tbody");
        let row_id = "{{ sources|length }}";

        function add_row() {
            let row = document.createElement("tr");

            row_id++;
            row.id = `row${row_id}`;
            row.innerHTML = `<tr>
                            <td><input class="address"></td>
                            <td><button class="btn btn-sm btn-danger" onclick="delete_row(${row_id})">Delete</button></td>
                         </tr>`

            tbody.insertBefore(row, tbody.children[tbody.children.length - 1])
        }

        function delete_row(row_id) {
            tbody.querySelector(`#row${row_id}`).remove();
        }

        function save_sources() {
            let formData = new FormData();

            Array.from(tbody.children).slice(0, -1).forEach(function (row) {
                formData.append('sources[]', row.querySelector(".address").value);
            })

            fetch("{{ url_for("movies.update_sources") }}",
                {
                    method: "POST",
                    body: formData
                })
                .then(function (response) {
                    if (response.ok)
                        window.location.href = "{{ url_for("movies.sources_page") }}";
                })
        }
    </script>
{% endblock extra_js %}